@use 'variables' as v;

@media screen and (min-width: 992px) {
  .conocimientos__img-1,
  .conocimientos__img-2 {
    display: block;
    @include v.size(200px, 200px);
    justify-content: center;
    align-items: center;
  }

  .conocimientos__img-2 {
    position: relative;
    left: 40%;
    top: -20px;
  }
}
