@use 'variables' as v;

.centrado-2 {
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.negrita {
  font-weight: bold;
}

.conocimientos__img-1,
.conocimientos__img-2 {
  justify-content: center;
  align-self: center;
  justify-self: center;
}
@media screen and (min-width: 992px) {
  .conocimientos__img-1,
  .conocimientos__img-2 {
    justify-content: center;
    align-items: center;
    @include v.size(350px, auto);
    justify-self: center;
  }
}
