@use 'variables' as v;

.centrado {
  justify-content: center;
  align-items: center;
}

.conocimientos__img-1,
.conocimientos__img-2 {
  justify-content: center;
  align-self: center;
  justify-self: center;
}
@media screen and (min-width: 992px) {
  .conocimientos__img-1,
  .conocimientos__img-2 {
    justify-content: center;
    align-items: center;
  }
}
