@use "variables" as v;
.position--sticky {
  position: sticky;
  top: 0px;

  z-index: 100;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  zoom: 100%;
}

/* FOOTTER */

.footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
.centrado {
  display: flex;
  justify-self: center;
  text-align: center;
  gap: 20px;
}

.form-ancho {
  width: 80%;
}

.redes-sociales {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

/*  Desktop*/

@media screen and (min-width: 992px) {
  .form-ancho {
    width: 40%;
  }
}
