@use "variables" as v;
.position--sticky {
  position: sticky;
  top: 0px;

  z-index: 100;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  zoom: 100%;
}

.footer{
  background-color: v.$color-footer;
  color: #fff;

  .flex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15px;


  }
  .redes-socales{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    width: 50%;
  }
}

.inicio{
  display: block;
  width: 100%;
  }

  form{
    width: 100%;
  }

