@use "variables" as v;

main{
z-index: 10;
}

.portada{
  display: flex;

  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/12067353_4884340.jpg);
  background-size: cover;
  overflow: hidden;
}

h1{
  position: absolute;
  display: inline;
  color: #FDFFFC;
  text-align: center;
  z-index: 1;
}

b{
  color:#C2095A ;
}

@media screen and (min-height: 300px) {

  
  .bordes{
    width: 300px ;
  }
}


@media screen and (min-width: 992px) {

  
  .bordes{
    overflow-y: hidden;
    height: 35vw;
    overflow: hidden;
  }

  .borde1, .borde2, .borde3, .borde4, .borde5{

    border-bottom: 1px solid rgba($color: v.$borde-efecto, $alpha: 0.50);
    width: 100% ;

    position: absolute;
    
    left: -50%;
    // top: 100px;
    // margin-top:-15px;
  
  
    transform: rotate(125deg);
    animation-name: efecto-1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }
  
  @keyframes efecto-1{
    50%{left:  -20%;
    }
    100%{left:  -50%;
  
    }
    }
  
  
  .borde2{
  
  
    left: -30%;
    // top: 100px;
    // margin: 0;
  
  
    transform: rotate(125deg);
    animation-name: efecto-2;
    animation-duration: 10s;
  }
  
  @keyframes efecto-2{
    50%{left:  0%;
    }
    100%{left:  -30%;
  
    }
    }
  
    .borde3{
  
  
      left: -10%;
      // top: 100px;
      // margin: 0;
    
    
      transform: rotate(125deg);
      animation-name: efecto-3;
      animation-duration: 10s;
    }
    
    @keyframes efecto-3{
      50%{left:  20%;
      }
      100%{left:  -10%;
    
      }
      }
  
      .borde4{
  
  
        left: -40%;
        // top: 100px;
        // margin: 0;
      
      
        transform: rotate(125deg);
        animation-name: efecto-4;
        animation-duration: 10s;
      }
      
      @keyframes efecto-4{
        50%{left:  -10%;
        }
        100%{left:  -40%;
      
        }
        }
    
        .borde5{
  
  
          left: -20%;
          // top: 100px;
          // margin: 0;
        
        
          transform: rotate(125deg);
          animation-name: efecto-5;
          animation-duration: 10s;
        }
        
        @keyframes efecto-5{
          50%{left:  10%;
          }
          100%{left:  -20%;
        
          }
          }
      
  }
  


    





