@use "variables" as v;

.portada {
  display: flex;

  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    0deg,
    rgba(105, 161, 151, 1) 0%,
    rgba(50, 63, 78, 1) 44%,
    rgba(22, 12, 40, 1) 94%
  );
  // background-image: url(../imagenes/Abstract.jpg);
  // background-size: cover;
  overflow: hidden;
}

h1 {
  position: absolute;
  display: inline;
  color: #fdfffc;
  text-align: center;
  z-index: 1;
  position: relative;
}

b {
  color: #edafb8;
  display: inline-block;
  width: 100%;
}
.contenedor-efecto-1 {
  display: inline-block;
  position: relative;
}
.efecto-1 {

  display: block;
  width: 100%;

  animation-name: fondo-nombre;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
  text-align: left;
  background-color: rgba($color: darkblue, $alpha: 0.5);
}




@media screen and (min-width: 992px) {

  
  .efecto-1 {
    animation-name: none;
    display: inline-block;
    position: relative;
    background-color: inherit;
  }

  .efecto-1:hover {
    background-color: rgba($color: darkblue, $alpha: 0.5);
    display: block;
    width: 100%;
  
    animation-name: fondo-nombre;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    text-align: left;
  }
  
}


@keyframes fondo-nombre {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    background-color: rgba($color: darkblue, $alpha: 0.5);
  }
}