@use "variables" as v;

body{
    background-color: #BBCDE5;
    color: #222222;
}

@media screen and (min-width: 992px) {

.imagen-lat{
    display: block;
    @include v.size(400px, 400px);
    justify-content: center;
    align-items: center;
    
}
}


