@mixin size($width, $height) {
  height: $height;
  width: $width;
}

$color-footer: #160c28;
$color-fondo: #f7eeeb;

$iconos: (
  estudios: url(../imagenes/degree-hat.svg),
  trabajos: url(../imagenes/round-engineering.svg),
);

$borde-efecto: red;
