@mixin size($width, $height) {
  height: $height;
  width: $width;
}

$color-footer:#1c5d99;


$iconos: (
  estudios: url(../imagenes/degree-hat.svg),
  trabajos: url(../imagenes/round-engineering.svg),
);
