.position--sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  zoom: 100%;
}

.nav-modificado {
  background-color: rgb(105, 161, 151);
  color: #160c28;
}

#presentacion {
  margin-top: 50px;
}

.mod-p-s {
  top: 55px;
  background-color: #f7eeeb;
  margin: 0;
  z-index: 50;
}

/* FOOTTER */
.footer {
  background-color: #160c28;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.centrado {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.form-ancho {
  width: 80%;
}

.redes-sociales {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

.block {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #e31b6d;
}

.modif-boton {
  border: 1px solid rgb(105, 161, 151);
  background-color: rgb(22, 12, 40);
}

/*  Desktop*/
@media screen and (min-width: 992px) {
  .form-ancho {
    width: 40%;
  }
}
.portada {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(105, 161, 151) 0%, rgb(50, 63, 78) 44%, rgb(22, 12, 40) 94%);
  overflow: hidden;
}

h1 {
  position: absolute;
  display: inline;
  color: #fdfffc;
  text-align: center;
  z-index: 1;
  position: relative;
}

b {
  color: #edafb8;
  display: inline-block;
  width: 100%;
}

.contenedor-efecto-1 {
  display: inline-block;
  position: relative;
}

.efecto-1 {
  display: inline-block;
  position: relative;
}

.efecto-1:hover {
  background-color: rgba(0, 0, 139, 0.5);
  display: block;
  width: 100%;
  animation-name: fondo-nombre;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  text-align: left;
}

@keyframes fondo-nombre {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
}
/* TRANSISICION DESKTOP*/
#presentacion {
  z-index: 100;
}

body {
  background-color: #f7eeeb;
  color: #222222;
  z-index: 2;
}

.flex {
  display: flex;
  justify-content: center;
}

.imagen-lat {
  height: 350px;
  width: 350px;
  margin-bottom: 30px;
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 992px) {
  .imagen-lat {
    height: 320px;
    width: 350px;
    justify-content: center;
    align-items: center;
  }
}
.estudios li {
  list-style-image: url(../imagenes/degree-hat.svg);
  list-style-image: url(../imagenes/degree-hat.svg);
}

.card-1,
.card-2,
.card-3 {
  border: none;
}

.trabajos li {
  list-style-image: url(../imagenes/round-engineering.svg);
  list-style-image: url(../imagenes/round-engineering.svg);
}

.card-1,
.card-2,
.card-3 {
  border: none;
}

.card {
  background-color: #f7eeeb;
}

.padding-y-marging {
  margin-left: 2%;
  padding-left: 5%;
}

.ul li {
  list-style-image: none;
}

.list-group-item-modificado {
  display: list-item;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f7eeeb;
}

.list-group-item-modificado-2 {
  display: list-item;
  border: none;
  border-bottom: none;
  list-style-image: none;
  background-color: #f7eeeb;
}

.lista-ultimo {
  border: none;
}

.width {
  max-width: 100%;
}

.sep-listas {
  margin-top: 3%;
  margin-bottom: 3%;
}

#estudios {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

#proyectos {
  margin: 10px auto 10px auto;
}

.proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.color-fondo {
  background-color: #ffffff;
}

.centrado-2 {
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.negrita {
  font-weight: bold;
}

.conocimientos__img-1,
.conocimientos__img-2 {
  justify-content: center;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 992px) {
  .conocimientos__img-1,
.conocimientos__img-2 {
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
    justify-self: center;
  }
}
#objetivo-profesional {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
